@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "Inter-regular";
  src: url(/assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-bold";
  src: url(/assets/fonts/static/Inter-Bold.ttf);
}
:root {
  --soft-orange-p: hsl(35, 77%, 62%);
  --soft-red-p: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --font-size-p: 15px;
  --font-family-bolder: Inter, sans-serif;
  --font-family-bold: Inter-bold, sans-serif;
  --font-family-regular:Inter-regular, sans-serif;
}

/*Default css*/
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: var(--font-size-p);
  color: var(--Grayish-blue);
  font-family: var(--font-family-bold);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-bolder);
}

.bg-shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  left: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container .container-wrapper {
  display: flex;
  flex-direction: column;
}
.container .navigation-bar {
  display: flex;
  margin: 35px 0px;
  align-items: center;
}
.container .navigation-bar .logo-container {
  flex: 1;
}
.container .navigation-bar .navigation-links {
  flex: 0.11111%;
}
@media screen and (max-width: 798px) {
  .container .navigation-bar .navigation-links {
    display: none;
  }
}
.container .navigation-bar .navigation-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-regular);
  font-weight: 600;
}
.container .navigation-bar .navigation-links ul li a:hover {
  color: var(--soft-red-p);
}
.container .navigation-bar .navigation-links-mobile {
  background-color: #fff;
  position: fixed;
  right: -65px;
  top: 0;
  height: 100%;
  width: 300px;
  min-width: 200px;
  animation: slideLeft;
  animation-duration: 0.22s;
  animation-fill-mode: forwards;
}
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.container .navigation-bar .navigation-links-mobile ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-regular);
  font-weight: 600;
  padding: 70px 7px;
}
.container .navigation-bar .navigation-links-mobile ul li {
  padding: 7px 10px;
}
.container .navigation-bar .navigation-links-mobile ul li a {
  color: #000;
}
.container .navigation-bar .navigation-links-mobile ul li a:hover {
  color: var(--soft-red-p);
}
@media screen and (min-width: 800px) {
  .container .navigation-bar .menu-toggle-icon {
    display: none;
  }
}
.container .navigation-bar .menu-close-icon {
  position: absolute;
  right: 30%;
  top: 3%;
}
.container .page-container {
  margin: 0px 0px 10px;
}
.container .page-content {
  display: grid;
  grid-template-areas: "content article";
  grid-template-columns: 69% 1fr;
  margin: 50px 0;
  gap: 28px;
}
@media screen and (max-width: 800px) {
  .container .page-content {
    grid-template-areas: "content" "article";
    grid-template-columns: 1fr;
  }
}
.container .page-content .content1 {
  grid-area: content;
}
.container .page-content .content1 .content-details {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}
@media screen and (min-width: 1100px) {
  .container .page-content .content1 .content-details {
    flex-direction: row;
  }
}
.container .page-content .content1 .content-details h1 {
  font-size: 6rem;
}
@media screen and (max-width: 1336px) {
  .container .page-content .content1 .content-details h1 {
    font-size: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .container .page-content .content1 .content-details h1 {
    font-size: 3rem;
    line-height: 0.94;
  }
}
.container .page-content .content1 .content-details .content-details-text {
  align-self: start;
  display: flex;
  flex-direction: column;
  height: 268px;
  align-items: flex-start;
}
.container .page-content .content1 .content-details p {
  word-spacing: 5px;
  line-height: 1.2;
  padding: 20px 20px;
  font-family: var(--font-family-regular);
  font-weight: 500;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .container .page-content .content1 .content-details p {
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .container .page-content .content1 .content-details p {
    margin-bottom: 15px;
  }
}
.container .page-content .content1 .content-details button {
  padding: 15px 20px;
  font-size: 20px;
  letter-spacing: 5px;
  border: none;
  background-color: var(--soft-red-p);
  color: #fff;
}
.container .page-content .content1 .content-details button:hover {
  background-color: var(--Dark-grayish-blue);
}
.container .page-content .content2 {
  grid-area: article;
  background-color: var(--Very-dark-blue);
  padding: 33px;
}
.container .page-content .content2 .content-inner h1 {
  color: var(--soft-orange-p);
  padding: 0px 0px 25px 0px;
  font-size: 40px;
}
.container .page-content .content2 .content-inner ul {
  list-style-type: none;
}
.container .page-content .content2 .content-inner ul li {
  border-bottom: 2px solid grey;
  margin-bottom: 50px;
  padding: 20px 0px;
}
.container .page-content .content2 .content-inner ul li h4 {
  color: white;
  padding: 0px 0px 50px 0px;
  font-size: 24px;
}
.container .page-content .content2 .content-inner ul li h4:hover {
  color: var(--soft-orange-p);
}
.container .page-content .content2 .content-inner ul li:last-child {
  border: none;
}
.container .page-content .content2 .content-inner ul li p {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container .page-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .container .page-articles {
    flex-direction: column;
    gap: 20px;
  }
}
.container .page-articles .artilce-cards {
  display: flex;
}
.container .page-articles .artilce-cards .article-content {
  margin: 0px 20px;
}
.container .page-articles .artilce-cards img {
  height: 150px;
}
.container .page-articles .artilce-cards h1 {
  margin-bottom: 15px;
  color: var(--Grayish-blue);
}
.container .page-articles .artilce-cards h1:hover {
  color: var(--soft-red-p);
}
.container .page-articles .artilce-cards h3 {
  margin-bottom: 20px;
}
.container .page-articles .artilce-cards p {
  font-family: var(--font-family-regular);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: var(--Grayish-blue);
  font-weight: 500;
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid var(--Dark-grayish-blue);
  padding: 15px 0px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-family: var(--font-family-regular);
}/*# sourceMappingURL=style.css.map */